<div class="container">
  <div class="row">
    <%= form_for(@enterprise) do |f| %>
      <% if @enterprise.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@enterprise.errors.count, "error") %> prohibited this enterprise from being saved:</h2>

          <ul>
          <% @enterprise.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description %>
      </div>
      <div class="field">
        <%= f.label :capacity %><br>
        <%= f.number_field :capacity %>
      </div>
      <div class="field">
        <%= f.label :telephone %><br>
        <%= f.text_field :telephone %>
      </div>
      <div class="field">
        <%= f.label :cellphone %><br>
        <%= f.text_field :cellphone %>
      </div>
      <div class="field">
        <%= f.label :base_price %><br>
        <%= f.text_field :base_price %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %><br>
        <%= f.text_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br>
        <%= f.text_field :password_confirmation %>
      </div>
      <div class="field">
        <%= f.label :address %><br>
        <%= f.text_field :address %>
      </div>
      <div class="actions">
        <%= f.submit class: 'waves-effect waves-brown btn' %>
      </div>
    <% end %>
  </div>
</div>