<p id="notice"><%= notice %></p>

<h1>Listing Enterprises</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Capacity</th>
      <th>Telephone</th>
      <th>Cellphone</th>
      <th>Base price</th>
      <th>Email</th>
      <th>Senha</th>
      <th>Confirmar Senha</th>
      <th>Endereço</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enterprises.each do |enterprise| %>
      <tr>
        <td><%= enterprise.name %></td>
        <td><%= enterprise.description %></td>
        <td><%= enterprise.capacity %></td>
        <td><%= enterprise.telephone %></td>
        <td><%= enterprise.cellphone %></td>
        <td><%= enterprise.base_price %></td>
        <td><%= enterprise.email %></td>
        <td><%= enterprise.password %></td>
        <td><%= enterprise.password_confirmation %></td>
        <td><%= enterprise.address %></td>
        <td><%= link_to 'Show', enterprise %></td>
        <td><%= link_to 'Edit', edit_enterprise_path(enterprise) %></td>
        <td><%= link_to 'Destroy', enterprise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enterprise', new_enterprise_path %>
